@import '@/assets/scss/variables/media';
@import '@/assets/scss/variables/classes';
@import '@/assets/scss/variables/colors';

#{$content} {
  padding: 50px 32px;

  ul,
  ol {
    li {
      position: relative;
      padding-left: 13px;
      font-size: 16px;
      list-style: none;
      line-height: 1.4;

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      &::before {
        position: absolute;
        top: 9px;
        left: 2px;
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $primary;
        content: '';
      }
    }
  }
}

@media (max-width: #{$mediaMD}) {
  #{$content} {
  }
}

@media (max-width: #{$mediaSM}) {
  #{$content} {
    padding: 36px 16px;
  }
}
