@import '@/assets/scss/variables/media';
@import '@/assets/scss/variables/classes';

#{$header} {
  &__wrapper {
    padding: 152px 32px 44px;
    background: $header-background-gradient no-repeat center;
    position: relative;
  }

  &__title {
    font-size: 36px;
    color: $white;
    font-weight: 700;
    line-height: 1.2;
  }

  &__logo {
    padding: 24px 20px;
    background-color: $white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: fit-content;
    position: absolute;
    left: 32px;
    top: 0;

    img {
      max-width: 117px;
      max-height: 64px;
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: #{$mediaSM}) {
  #{$header} {
    &__wrapper {
      padding: 110px 16px 30px;
    }

    &__title {
      font-size: 22px;
    }

    &__logo {
      padding: 18px 12px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      left: 16px;

      img {
        max-width: 80px;
      }
    }
  }

}
