<div class="tmpl-hh-video">
  <div class="tmpl-hh-video__video-wrapper">
    <div class="tmpl-hh-video__cover">
      <button class="tmpl-hh-video__play-button" type="button"></button>
    </div>
    <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class='tmpl-hh-video__frame' frameborder="0" src="https://www.youtube.com/embed/yy4yxoV1gVY?si=t_r4CWVWS7YUf0ih" title="YouTube video player"></iframe>
  </div>
  <picture class="tmpl-hh-video__description">
    <source media="(max-width: 699px)" srcset="./assets/img/video-title_mobile.svg"/>
    <source media="(min-width: 700px)" srcset="./assets/img/video-title_desktop.svg"/>
    <img alt="" src="./assets/img/video-title_desktop"/>
  </picture>
</div>
